header {
    width: 100%;
    background-color: green;
    height: 54px;
}

footer {
    width: 100%;
    background-color:green;
    padding: 20px 0 10px 0;
    color: white;
    margin: auto;
    padding-bottom: 10px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}

